.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}
.App-Row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1.2vw);
  min-width: 100%;
}
